.navBar.activeNav {
  background: transparent;
  box-shadow: none;
}
.register {
  display: inline-block !important;
  background: linear-gradient(
    335.64deg,
    #ff589b -19.22%,
    #ff136f 118.87%
  ) !important;
  padding: 8px 25px !important;
  color: #fff !important;
  border-radius: 52px !important;
}
.login {
  display: inline-block !important;
  background: transparent !important;
  padding: 7px 24px !important;
  color: #fff !important;
  border-radius: 52px !important;
  border: 1px solid white;
}
.navBar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  background: url("./../../assets/images/header-bg.png");
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.051);
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
}
a.text-white.nav-link {
  margin: 0 5px;
}
@media screen and (max-width: 991px) {
  .navBar {
    position: static !important;
    top: 0;
  }
  .small-device {
    background: url("./../../assets/images/header-bg.png") !important;
  }
  a.text-white.nav-link {
    display: block !important;
    border-bottom: 1px solid #ddd !important;
    width: 100%;
    text-align: center;
  }
  a.text-white.nav-link:last-child {
    border-bottom: none !important;
  }
a.text-white.contact.nav-link {
    border: none !important;
}
}
